.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 50px;
}

.form-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: row;
}

.form-container label {
  flex: auto;
  margin-right: auto;
}

.form-container input[type="text"],
.form-container select {
  flex: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  display: block;
}

.form-container input[type="submit"]:hover {
  background-color: #0056b3;
}
