.nomelacontainer {
  background: #f5f5f5;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 1220px;
  height: 600px;
  border-radius: 2%;
  margin-bottom: 30px;
  align-content: flex-start;
  justify-content: flex-end;
}

.col-md-5 {
  flex: 0 0 41.666667%;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-7 {
  height: fit-content;
  position: relative;
  margin-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
}

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  margin-top: 35px;
  margin-right: 50px;
}

.project-info-box h5 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: larger;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.auto {
  width: 650px;
  margin-top: 35px;

  border-radius: 5px !important;
  margin-left: 50px;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px;
}

.btnOut button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.info {
  margin-top: 10px;
}
.pepito {
  margin-left: 60%;
}
