.card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
  width: 250px;
}

.card:hover {
  transform: translateY(-5px);
}

/* Estilos para la imagen */
.card img {
  width: auto;
  height: auto;
  border-radius: 5px;
}

/* Estilos para el título */
.title {
  font-size: 1.25rem;
  margin-top: 10px;
  color: #000000;
}

/* Estilos para el enlace de navegación (utilizando NavLink) */
.card-details a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.card-details a:hover {
  color: #0056b3;
}
