.form {
  display: flex;
  flex-direction: column;
  width: 40vh;
  margin: 0 auto;
  color: black
}

.formGroup {
  margin-bottom: 2vh;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 1vh;
  border: 1px solid #ccc;
  border-radius: 1vh;
}

.error {
  color: red;
  font-size: 1.2vh;
  margin-top: 1vh;
}

button {
  background-color: #929292;
  color: white;
  padding: 1vh 2vh;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

button:hover {
  background-color: #1fb90b;
}
.cuenta {
  font-size: 4.5vh;
  margin-bottom: 4vh;
  color: white;
  text-align: center;
  padding-top: 4vh;
}
.formulario {
  margin-top: 20px;

  padding: 20px; /* Espacio alrededor del formulario */
  border-radius: 3rem; /* Bordes redondeados */
  max-width: 600px; /* Ancho máximo del contenedor */
  display: grid;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  box-shadow: 0vh 0vh 1vh rgba(0, 0, 0, 0.1); /* Sombra */
}

.fotofoto {
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 625px;

  display: inline-flex;
}

.formContainer {
  display: flex;
  flex-direction: revert;
  justify-content: center;
  align-items: center;

  @media (max-width: 570px) {
    flex-direction: column;
  }
}
