.bg-body-tertiary {
  background-color: red; /* Cambia el color de fondo del Navbar */
}

/* Estilos para el Navbar.Brand (el logotipo o el nombre del sitio) */
.navbar-brand {
  color: #020202; /* Color del texto del Navbar.Brand */
  font-size: 24px; /* Tamaño de fuente del Navbar.Brand */
}

/* Estilos para los enlaces en el Navbar */
.nav-link {
  color: #555; /* Color del texto de los enlaces del Navbar */
  font-size: 16px; /* Tamaño de fuente de los enlaces del Navbar */
}

/* Estilos para el enlace activo en el Navbar */
.nav-link.active {
  font-weight: bold; /* Negrita para el enlace activo */
}

/* Estilos para el menú desplegable en el Navbar */
.dropdown-menu {
  background-color: #f7f7f7; /* Color de fondo del menú desplegable */
  border: none; /* Quita el borde del menú desplegable */
}

/* Estilos para los elementos del menú desplegable */
.dropdown-item {
  color: #333; /* Color del texto de los elementos del menú desplegable */
}

/* Estilos para los elementos del menú desplegable al hacer hover */
.dropdown-item:hover {
  background-color: #ddd; /* Color de fondo al hacer hover en los elementos */
  color: #555; /* Color del texto al hacer hover en los elementos */
}

/* Estilos para el separador en el menú desplegable */
.dropdown-divider {
  border-top: 1px solid #ccc; /* Línea divisoria entre elementos */
}
