.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.img{
    display: flex;
    justify-content: center;
    width: 110vh;
    height: 100vh;
}
img{
   
    width: auto;
   height: auto;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px ;
    
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    border-style: initial;
    border-color: white;
    transition: all 1s;
    bottom: 20vh;
}
.btn:hover{
    transform: scale(0.8);
   background-color: brown;
    color: aquamarine;
}
.btnOut{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:2%;
    right: 10px;
    width: 20px;
    height: 20px;
   
}
.info .btnOut button{
    text-align:center;
    width: 30px;
    height: 25px;
    border-radius: 8px;
    background-color:transparent;
    color:wheat;
    transition: all 1s;
}
.info .btnOut button:hover{
    transform: scale(0.78);
    color: black;
    background-color: brown;
}